.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 4rem;
    bottom: 0;
}

.footer p {
    font-size: 1rem;
    color: var(--withe);
    margin: 0;
}
.footer p span {
    color: #c50b0b;
}

.aliaxDev {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}